# Laboratorinis 8

## 1 uzd

Parašykite programą, kuri išveda žodžius, kurių pavadinimą sudaro šešios raidės. Naudokite funkciją filter().

In [3]:
s = eval(input())
print(list(filter(lambda x: len(x) == 6,s)))

 ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

['Monday', 'Friday', 'Sunday']

## 2 uzd

Sukurkite funkciją, kuri apskaičiuoja dviejų skaičių skirtumą. Užduotį atlikite dviem būdais:  
1) funkcija be parametrų: skaičiai – globalūs kintamieji, apibrėžti pagrindinėje programoje;  
2) funkcija su parametrais: skaičiai – funkcijos parametrai.

In [9]:
a, b = [int(a) for a in input().split()]

def calculate(a, b):
    return a - b

def calculate_global():
    return a - b

print(calculate(a, b))
# print(calculate_global())

 145 29

116
116

## 3 uzd

Sukurkite funkciją su parametru, kuris leidžia perduoti bet kokį kiekį skaičių. Funkcijos filter() pagalba randa lyginių ir nelyginių skaičių kiekius ir grąžina abi reikšmes. Išveda rezultatą.

In [50]:
l = input().split(',') # or eval with conversion to list/tuple

def lyg_nelyg(*n):
    lyg = len(list(filter(lambda x: x%2==0, n)))
    nelyg = len(list(filter(lambda x: x%2!=0, n)))
    return lyg, nelyg

lyg, nelyg = lyg_nelyg(*list(map(lambda a: int(a), l))) #*l
print("Lyginiu - {}".format(lyg))
print("Nelyginiu - {}".format(nelyg))

 1,1,2,3,3,2,4,3,5,6,2,7,8,9

Lyginiu - 6
Nelyginiu  - 8

## 4 uzd

Sukurkite funkciją, kuri gauna sąrašą L kaip parametrą, grąžina sąrašo unikalias reikšmes ir išveda pradinį sąrašą.

In [52]:
L = eval(input())

def unique_values(L):
    print(list(dict.fromkeys(L)))
    print(L)
    
unique_values(L)

 [1,1,1,2,2,3,4,5,3,3,5,4,2,1]

[1, 2, 3, 4, 5]
[1, 1, 1, 2, 2, 3, 4, 5, 3, 3, 5, 4, 2, 1]

## 5 uzd

Sukurkite funkciją, kuri gauna skaičių n kaip parametrą. Randa ir išveda skaičiaus n skaitmenų skaičių ir sumą.

In [55]:
n = input()

def lenNsum():
    print(len(n))
    print(sum(list(map(lambda x: int(x), n))))

lenNsum()

 1234567890

10
45

## 6 uzd

Sukurkite funkciją, kuri gauna sąrašą L kaip parametrą ir išveda sąrašo unikalių reikšmių skaičius ir pradinį sąrašą.

In [58]:
L = eval(input())

def countUniques(L):
    d = {x: L.count(x) for x in L}
    for k, v in d.items():
        print("'{}' - {}".format(k, v))
    print(L)
    
countUniques(L)

 [1,1,1,2,2,3,4,5,3,3,5,4,2,1]

'1' - 4
'2' - 3
'3' - 3
'4' - 2
'5' - 2
[1, 1, 1, 2, 2, 3, 4, 5, 3, 3, 5, 4, 2, 1]

## 7 uzd

Sukurkite funkciją, kuri gauna eilutę kaip parametrą ir grąžina sakinį, kur žodžiai parašyti atvirkštine tvarka.

In [61]:
def reverse(s):
    return ' '.join(s.split()[::-1])

print(reverse(input()))

 The quick brown fox jumps over the lazy dog

dog lazy the over jumps fox brown quick The

## 8 uzd

Sukurkite funkciją, kuri gauna natūralųjį skaičių n kaip parametrą. Randa faktorialų sumą (1! + 2! +…+n!) ir išveda rezultatą kaip parodyta. Faktorialų skaičiavimui naudokite funkciją reduce() (modulis functools).

In [71]:
from functools import reduce

def factorial(n):
    s = 0
    for i in range(1, n+1):
        f = reduce(lambda x, y: x*y, range(1, i+1))
        print("{}! = {}".format(i, f))
        s += f
    print("Faktorialu suma -", s)
    
n = int(input())
factorial(n)

 10

1! = 1
2! = 2
3! = 6
4! = 24
5! = 120
6! = 720
7! = 5040
8! = 40320
9! = 362880
10! = 3628800
Faktorialu suma - 4037913

## 9 uzd

Sukurkite funkciją empl, kuri iškviesta su norodytais parametrais, išveda atitinkamus pranešimus.

In [76]:
def empl(name, position = "salesman", salary = 1700):
    print("{}: {}, salary - {}".format(name, position, salary))
    
s = input().split(',')
empl(*s)

 Williams,manager,2500

Williams: manager, salary - 2500

## 10 uzd

Sukurkite funkciją, kuri gauna natūralųjį skaičių n kaip parametrą ir išveda skaičius nuo 1 iki n eilute rekursijos pagalba.

In [86]:
def recursion(n):
    s = str(n)
    if n > 1:
        return recursion(n-1) + " " + s
    else:
        return s

n = int(input())
print(recursion(n))

 10

1 2 3 4 5 6 7 8 9 10

## 11 uzd

Sukurkite funkciją, kuri gauna natūraliuosius skaičius n ir m ir išveda visus skaičius nuo n iki m imtinai didėjimo tvarka, jei n < m ir mažėjimo tvarka, jeigu n > m.

In [95]:
a, b = input().split()

def print_range(a, b):
    print(a)
    
    if a == b:
        return
    
    if b > a:
        print_range(a+1, b)
    else:
        print_range(a-1, b)
        
print_range(int(a), int(b))

 15 10

15
14
13
12
11
10